body{
    color: #4169E1;  
    background-color: paleturquoise;
  }
  .heading{
      width: 80%;
      font-size: 22px;
  
  }
  .name_of_object{
      color: black;
      font-size: larger;
  
  }
  #camera{
      border: 2px dashed black;
      width: 350px;
      height: 300px;
  }